.container {
    max-width: 1200px;
    margin: 0 auto; 
}

.under__line {
    
    content: '';
    display: block;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background-color: var(--darkGray);
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --darkGray: #323232; 
    --lightGray: #E1E1E1;
    --white: #F1F1F1;
}

/* Header start */

.header__nav { 
    width: 100%;
    margin: 50px 0 20px 0;
}

.lang {
    color: var(--darkGray);
    font-family: 'MR';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;    
}

.header__nav-title {
    color: var(--darkGray);
    font-family: 'MB';
    font-size: 32px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

.header__nav-link {
    color: var(--darkGray);
    font-family: 'MR';
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0 20px;
}

.header__nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
}

.right__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.basket,
.like{
    padding-top: 3px;
}

.nav__icon-li {
    margin: 0 15px;

}

.right__menu-list li:last-child {
    margin-right: 0;
}

.intro__content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    height: 618px;
}
.item__box{
    border-radius: 10px;
    background: var(--lightGray);
    position: relative;
}
.content__box:nth-of-type(1){
    grid-area: 1 / 1 / 3 / 3;
    /* height: 249px; */
}
.content__box:nth-of-type(2){
    grid-area: 3 / 1 / 5 / 3;
    /* height: 249px; */
}
.content__box:nth-of-type(3){
    grid-area: 1 / 3 / 5 / 6;
}
.discount{
    border-radius: 10px;
    background: var(--darkGray);
    width: 123px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
}
.discount__label{
    color: var(--white);
    font-family: 'MR';
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}
.gender__text{
    color: var(--darkGray);
    font-family: 'MR';
    font-size: 16px;
    font-weight: 400;
}
.watch__name{
    color: #000;
    font-family: 'MB';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.watch__title{
    color: var(--darkGray);
    font-family: 'MR';
    font-size: 15px;
    font-weight: 400;
    line-height: 16.841px; 
    text-transform: uppercase;
}

/* .header__nav::after {
    content: '';
    display: block;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background-color: var(--darkGray);
} */

/* Header end */
